@media screen and (max-width: 2000px) {
	body {
		max-width: 1200px;
		margin: 0px auto;
		padding: 20px 100px;
	}
}

@media screen and (max-width: 1000px) {
	body {
		margin: 0px auto;
		padding: 20px 50px;
	}
}

@media screen and (max-width: 700px) {
	body {
		margin: 0px auto;
		padding: 20px 0px;
	}
}

.selectBox {
	width: 300px;
}

.fieldSetLegend {
	margin-bottom: 15px;
}

.ui-fieldset .ui-state-default {
	/*text-align:right;*/
	
}

.ui-selectonemenu .ui-selectonemenu-trigger {
	width: 24px;
}

.address_active {
	background-color: #BAE8B5 !important;
}

.address_inactive {
	background-color: #D0CFCF !important;
	color: #898989 !important;
}

.contract_Closed {
	background-color: #D0CFCF !important;
	color: #898989 !important;
}

.contract_New {
	background-color: #FFF6B8 !important;
}

.contract_Cancelled {
	background-color: #F69D9D !important;
	color: #898989 !important;
}
 
.contract_Signed {
	background-color: #BAE8B5 !important;
}

.inactiveAddressCrossSign {
	padding: 100px;
}

.ui-fieldset-toggleable .ui-fieldset-legend {
	padding: 0.1em 35em 0.1em 0.5em;
	cursor: pointer;
}

.map-coordinates-selection{	
	cursor: Crosshair !important;
}

/* body { */
/* 	margin: 0; */
/* 	padding: 0; */
/* 	background-color: #EAECEE; */
/* 	font-family: Verdana, sans-serif; */
/* 	font-size: 0.9em; */
/* } */

/* #container { */
/* 	margin: 0 auto; */
/* 	padding: 0 20px 10px 20px; */
/* 	border: 1px solid #666666; */
/* 	width: 865px; subtract 40px from banner width for padding */
/* 	background: #FFFFFF url(#{request.contextPath}/resources/gfx/banner.png) */
/* 		no-repeat; */
/* 	padding-top: 110px; */
/* } */

/* #sidebar { */
/* 	font-size: 0.9em; */
/* 	width: 225px; */
/* 	float: right; */
/* 	border: 1px solid #666666; */
/* 	background: #EAECEE; */
/* 	padding: 0 15px 5px 15px; */
/* } */

/* #sidebar ul { */
/* 	padding-left: 30px; */
/* } */

/* #footer { */
/* 	clear: both; */
/* 	text-align: center; */
/* 	color: #666666; */
/* 	font-size: 0.85em; */
/* 	padding: 3em 0 0 0; */
/* } */

/* code { */
/* 	font-size: 1.1em; */
/* } */

/* span.invalid { */
/* 	padding-left: 3px; */
/* 	color: red; */
/* } */