<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name>FaMS</display-name>
	<description>
		Facilities management system
	</description>

	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>bootstrap</param-value>
	</context-param>
	<welcome-file-list>
		<welcome-file>index.jsf</welcome-file>
	</welcome-file-list>



	<security-constraint>
		<display-name>protected-accommodation-module-admin</display-name>
		<web-resource-collection>
			<web-resource-name>accommodation-module</web-resource-name>
			<url-pattern>/accommodation/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>contractAdmin</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<security-constraint>
		<display-name>protected-accommodation-module-user</display-name>
		<web-resource-collection>
			<web-resource-name>accommodation-module</web-resource-name>
			<url-pattern>/accommodation/list.jsf</url-pattern>
			<url-pattern>/accommodation/detail.jsf</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>contractUser</role-name>
			<role-name>contractAdmin</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	
	<security-constraint>
		<display-name>public-accomm-list</display-name>
		<web-resource-collection>
			<web-resource-name>accommodation-module</web-resource-name>
			<url-pattern>/accommodation/list.jsf</url-pattern>
			<url-pattern>/accommodation/detail.jsf</url-pattern>
		</web-resource-collection>
	</security-constraint>



	<security-constraint>
		<display-name>protected-person-module-admin</display-name>
		<web-resource-collection>
			<web-resource-name>person-module</web-resource-name>
			<url-pattern>/person/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>persAdmin</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<security-constraint>
		<display-name>protected-person-module-user</display-name>
		<web-resource-collection>
			<web-resource-name>person-module</web-resource-name>
			<url-pattern>/person/list.jsf</url-pattern>
			<url-pattern>/person/detail.jsf</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>persUser</role-name>
			<role-name>persAdmin</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<security-constraint>
		<display-name>protected-person-module-client</display-name>
		<web-resource-collection>
			<web-resource-name>person-module</web-resource-name>
			<url-pattern>/person/detail.jsf</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>persUser</role-name>
			<role-name>persAdmin</role-name>
			<role-name>client</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>



	<security-constraint>
		<display-name>protected-contract-module-admin</display-name>
		<web-resource-collection>
			<web-resource-name>contract-module</web-resource-name>
			<url-pattern>/contract/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>contractAdmin</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<security-constraint>
		<display-name>protected-contract-module-user</display-name>
		<web-resource-collection>
			<web-resource-name>contract-module</web-resource-name>
			<url-pattern>/contract/list.jsf</url-pattern>
			<url-pattern>/contract/detail.jsf</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>contractUser</role-name>
			<role-name>contractAdmin</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<security-constraint>
		<display-name>protected-contract-module-client</display-name>
		<web-resource-collection>
			<web-resource-name>contract-module</web-resource-name>
			<url-pattern>/contract/detail.jsf</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>contractUser</role-name>
			<role-name>contractAdmin</role-name>
			<role-name>client</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	
	
	
	<security-constraint>
		<display-name>protected-login-page</display-name>
		<web-resource-collection>
			<web-resource-name>login-page</web-resource-name>
			<url-pattern>/login.jsf</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>



	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>authentication-realm</realm-name>
		<form-login-config>
			<form-login-page>/logon.html</form-login-page>
			<form-error-page>/access-denied.html</form-error-page>
		</form-login-config>
	</login-config>
	<security-role>
		<role-name>persUser</role-name>
	</security-role>
	<security-role>
		<role-name>persAdmin</role-name>
	</security-role>
	<security-role>
		<role-name>accommUser</role-name>
	</security-role>
	<security-role>
		<role-name>accommAdmin</role-name>
	</security-role>
	<security-role>
		<role-name>contractUser</role-name>
	</security-role>
	<security-role>
		<role-name>contractAdmin</role-name>
	</security-role>
	<security-role>
		<role-name>client</role-name>
	</security-role>
	<security-role>
		<role-name>guest</role-name>
	</security-role>
	<error-page>
		<error-code>403</error-code>
		<location>/forbidden.html</location>
	</error-page>
</web-app> 